* { margin: 0; padding: 0; box-sizing: border-box; scroll-behavior: smooth;}

.header {
  display: flex;
  justify-content: center;
}

#header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 3em;
  font-family: 'roboto';
  font-size: 1.5em;
}

.main {
  display: flex;
  justify-content: space-evenly;
  color: black;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'who asks satan';
  font-size: 4em;
  color: white;
  text-shadow: 3px 3px black;
}

#stats {
  display: flex;
  justify-content: center;
  width: 90%;
  height: 100vh;
  background-color: #222;
}

#description {
  display: flex;
  justify-content: center;
  width: 90%;
  height: 100vh;
  background-color: #222;
}

#history {
  display: flex;
  justify-content: center;
  width: 90%;
  height: 100vh;
  background-color: #222;
}

#discography {
  display: flex;
  justify-content: center;
  width: 90%;
  height: 100vh;
  background-color: #222;
}

a {
  color: black;
}

body {
  background-color: #333;
  transition: 1s;
}