* { margin: 0; padding: 0; box-sizing: border-box; scroll-behavior: smooth; /*transition: 1s;*/ }

.main-content {
    width: 100%;
    height: 100vh;
    background-color: lightblue;
}

#title {
    display: flex;
    justify-content: center;
}

#profile-content {
    display: flex;
    justify-self: center;
    width: 3em;
    height: 3em;
    background-color: lightsalmon;
}

body {
    background-color: #333;
}